<!-- <div>
  <h1>Hello {{name}} and<p><app-todos></app-todos></p>
    </h1>
    <p><app-home></app-home></p>
    <br>
    <p>Below is bind</p>
    <p><app-bind></app-bind></p>
    <br>
    
    <p><app-ng-for></app-ng-for></p>
    <br>
    <p><app-two-way></app-two-way></p>
    <p><app-about-us></app-about-us></p>
</div> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<router-outlet></router-outlet>